@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.font__roboto--700 {
  font-family: 'Roboto Mono';
  font-weight: 700;
  text-transform: uppercase; }

.font__roboto--200 {
  font-family: 'Roboto Mono';
  font-weight: 200;
  text-transform: uppercase; }

.font__poppins--400 {
  font-family: 'Poppins';
  font-weight: 400; }

.font__poppins--500 {
  font-family: 'Poppins';
  font-weight: 500; }

.font__poppins--600 {
  font-family: 'Poppins';
  font-weight: 600; }

.fontz--4 {
  font-size: 4rem; }

:root {
  --primary-c: #0E71B8; }

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Configuración para usar rem / 1rem == 10px */
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

.fontz--4 {
  font-size: 4rem; }

.spacing__margint--4 {
  margin: 4rem 0; }

.img--small {
  width: 45rem;
  /* background-size: cover; */ }

.img--smaller {
  width: 100%;
  height: auto;
  /* background-size: cover; */ }

.imagen-cuadrada {
  height: 40rem;
  /* Ancho deseado para la imagen cuadrada */
  aspect-ratio: 1/1;
  /* Establece la relación de aspecto a 1:1 para hacerla cuadrada */
  object-fit: cover;
  /* Opcional: para recortar la imagen y ajustarla al contenedor */ }

/* En la barra de navegación se utilizo css nesting */
.nav {
  background-color: var(--primary-c);
  /* Logo */ }
  .nav .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    background-color: var(--primary-c);
    padding: 0 3rem; }
  .nav .nav__logo {
    height: 7.5rem; }
  .nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
    padding: .5rem; }
    .nav ul li a {
      color: #fff;
      text-decoration: none; }
      .nav ul li a:hover {
        background-color: black;
        padding: .5rem; }

/* Navegación Mobile*/
.logo--small {
  height: 7.5rem; }

.caso__img {
  display: none;
  height: 40rem;
  background-size: cover;
  background-image: url(../img/bg-office.jpg); }

.nav__caso {
  background-color: var(--primary-c); }
  .nav__caso .caso__menu {
    width: 100%; }
    .nav__caso .caso__menu a {
      color: #fff;
      font-size: 1.8rem;
      padding: 1rem;
      margin-right: 1.5rem; }
      .nav__caso .caso__menu a:hover {
        background-color: #000; }

/* Header */
.header__index {
  /* height: 20rem; */ }
  .header__index .header__container {
    min-width: 100%;
    height: 50rem;
    background-image: url(../img/bg-giga.png);
    background-size: cover; }
  @media (max-width: 991px) {
    .header__index .header__container {
      min-width: 100%;
      height: 50rem;
      background-image: url(../img/bgm-giga.png);
      background-size: cover; } }
  @media (max-width: 860px) {
    .header__index .header__container {
      min-width: 100vw;
      height: 40rem;
      background-image: url(../img/bgms-giga.png);
      background-size: cover; } }

.section__icon {
  display: flex;
  justify-content: space-around; }
  .section__icon .icon__space {
    margin-top: 1rem; }

.main__index .container__grid__img {
  height: 500px;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img1 img1 img2 img8" "img1 img1 img3 img4";
  gap: 1rem; }
  .main__index .container__grid__img .img__grilla_1 {
    background-image: url(../img/grilla/img-1.jpg);
    background-size: cover;
    grid-area: img1; }
  .main__index .container__grid__img .img__grilla_2 {
    background-image: url(../img/grilla/img-2.jpg);
    background-size: cover;
    grid-area: img2; }
  .main__index .container__grid__img .img__grilla_3 {
    background-image: url(../img/grilla/img-6.jpg);
    background-size: cover;
    grid-area: img3; }
  .main__index .container__grid__img .img__grilla_4 {
    background-image: url(../img/grilla/img-7.jpg);
    background-size: cover;
    grid-area: img4; }
  .main__index .container__grid__img .img__grilla_8 {
    background-image: url(../img/grilla/img-8.jpg);
    background-size: cover;
    grid-area: img8; }

@media (max-width: 811px) {
  .main__index .container-sm {
    max-width: 0; }
  .main__index .container__grid__img {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
    align-content: center; } }

@media (max-width: 660px) {
  .main__index .container__grid__img {
    height: 216vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img1" "img2" "img3" "img4"; } }

.main__index .marcas__index .article__marcas {
  padding: 30px 60px 30px 60px; }
  .main__index .marcas__index .article__marcas .marcas--small {
    width: 18rem; }

.footer {
  background-color: var(--primary-c); }
  .footer img {
    width: 15rem; }

.main__nosotros .nosotros__title {
  margin: 6rem; }

.main__nosotros .nosotros__historia .nosotros__text {
  width: 500px;
  overflow: hidden; }

@media (max-width: 974px) {
  .main__nosotros .nosotros__historia .img__somos {
    height: 25rem; }
  .main__nosotros .nosotros__historia .container {
    justify-content: center;
    padding: 2rem; } }

@media (max-width: 490px) {
  .main__nosotros .nosotros__historia .img__somos {
    height: 18rem; } }

.main__nosotros .formula__title {
  margin-bottom: 5rem; }

.main__nosotros .formula__nosotros {
  background-color: var(--primary-c);
  color: #fff;
  height: 50%; }
  .main__nosotros .formula__nosotros .formula__valores .valores {
    width: 400px;
    margin-right: 9rem;
    margin-bottom: 3rem; }

.main__nosotros .vision__nosotros .nosotros__mv {
  width: 45rem; }

@media (max-width: 961px) {
  .main__nosotros .vision__nosotros .img__vision {
    height: 25rem;
    margin-top: 1rem; } }

@media (max-width: 490px) {
  .main__nosotros .vision__nosotros .img__vision {
    height: 18rem; } }

.header__servicios {
  width: 100%;
  height: 50rem; }
  .header__servicios .header__container__servicios {
    height: 50rem;
    background-image: url(../img/bg-camera.webp);
    background-size: cover; }
    .header__servicios .header__container__servicios .text__servicios {
      height: 100%; }
      .header__servicios .header__container__servicios .text__servicios .tienda__style {
        color: white;
        margin-right: 45rem; }

.main__servicios .servicios__camara {
  margin-top: 5rem; }
  .main__servicios .servicios__camara .camara__text {
    width: 40rem;
    font-size: 1.8rem;
    margin-right: 6rem; }

.main__servicios .servicios__automatizacion {
  margin-top: 5rem; }
  .main__servicios .servicios__automatizacion .automatizacion__text {
    width: 40rem;
    font-size: 1.8rem;
    margin-left: 6rem; }

.main__servicios .servicios__paneles {
  margin-top: 5rem; }
  .main__servicios .servicios__paneles .paneles__text {
    width: 40rem;
    font-size: 1.8rem;
    margin-right: 6rem; }

.main__servicios .servicios__software {
  margin-top: 5rem; }
  .main__servicios .servicios__software .software__text {
    width: 40rem;
    font-size: 1.8rem;
    margin-left: 6rem; }

.logo--small {
  height: 7.5rem; }

.caso__img {
  display: none;
  height: 40rem;
  background-size: cover;
  background-image: url(../img/bg-office.jpg); }

@media (min-width: 991px) {
  .caso__img {
    display: block; } }

.main__caso .caso__position__card {
  /* border: 1px solid black; */ }

.main__caso .caso__descripcion .caso__articulo__2 {
  margin-left: 5rem; }

.caso__position__description__img {
  display: flex;
  flex-direction: column; }

@media (min-width: 991px) {
  .caso__position__description__img {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center; }
  .card {
    width: 30rem; } }
