@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --primary-c: #0E71B8;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración para usar rem / 1rem == 10px */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

/* --------------------------------------------- */
.font__roboto--700 {
    font-family: 'Roboto Mono';
    font-weight: 700;
    text-transform: uppercase;
}

.font__roboto--200 {
    font-family: 'Roboto Mono';
    font-weight: 200;
    text-transform: uppercase;
}

.font__poppins--400 {
    font-family: 'Poppins';
    font-weight: 400;
}

.font__poppins--500 {
    font-family: 'Poppins';
    font-weight: 500;
}

.font__poppins--600 {
    font-family: 'Poppins';
    font-weight: 600;
}


.fontz--4 {
    font-size: 4rem;
}

.spacing__margint--4 {
    margin: 4rem 0;
}

.img--small {
    width: 45rem;
    /* background-size: cover; */

}

.img--smaller {
    width: 50rem;
    /* background-size: cover; */

}
.imagen-cuadrada {
    height: 40rem;
    /* Ancho deseado para la imagen cuadrada */
    aspect-ratio: 1/1;
    /* Establece la relación de aspecto a 1:1 para hacerla cuadrada */
    object-fit: cover;
    /* Opcional: para recortar la imagen y ajustarla al contenedor */
}

/* ----------------------------------------------- */
/* En la barra de navegación se utilizo css nesting */
.nav {
    background-color: var(--primary-c);

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
        background-color: var(--primary-c);
        padding: 0 3rem;
    }

    /* Logo */
    .nav__logo {
        height: 7.5rem;
    }

    ul li {
        list-style: none;
        display: inline-block;
        margin-right: 2rem;
        padding: .5rem;

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                background-color: black;
                padding: .5rem;
            }
        }
    }
}

/* -------------------------------------------- */
/* Header */

.header__index {
    /* height: 20rem; */

    .header__container {
        width: 100%;
        height: 50rem;
        background-image: url(../img/bg-giga.png);
        background-size: cover;
    }
}

.section__icon {
    display: flex;
    justify-content: space-around;

    .icon__space {
        margin-top: 1rem;

    }
}

.main__index {

    .marcas__index {
        .article__marcas {
            padding: 30px 60px 30px 60px;

            .marcas--small {
                width: 18rem;
            }
        }
    }
}

.index__grid{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    /* grid-gap: 4rem; */
    padding:  8rem;
}

/* Footer */

.footer {
    background-color: var(--primary-c);

    img {
        width: 15rem;
    }
}

/* nosotros.html */

.main__nosotros {
    .nosotros__title {
        margin: 6rem;
    }

    .nosotros__historia {
        .nosotros__text {
            width: 500px;
            overflow: hidden;
        }
    }

    .formula__title {
        width: 60rem;
        margin-bottom: 5rem;
    }

    .formula__nosotros {
        background-color: var(--primary-c);
        color: #fff;
        height: 53rem;

        .formula__valores {

            .valores {
                width: 400px;
                margin-right: 9rem;
                margin-bottom: 3rem;
            }
        }
    }

    .vision__nosotros {
        .nosotros__mv {
            width: 45rem;
        }
    }
}

/* servicios.html */

.header__servicios {
    width: 100%;
    height: 50rem;

    .header__container__servicios {
        height: 50rem;
        background-image: url(../img/bg-camera.webp);
        background-size: cover;

        .text__servicios {
            height: 100%;

            .tienda__style {
                color: white;
                margin-right: 45rem;
            }
        }
    }


}

.main__servicios {
    .servicios__camara {
        margin-top: 5rem;

        .camara__text {
            width: 40rem;
            font-size: 1.8rem;
            margin-right: 6rem;
        }
    }

    .servicios__automatizacion {
        margin-top: 5rem;

        .automatizacion__text {
            width: 40rem;
            font-size: 1.8rem;
            margin-left: 6rem;
        }
    }

    .servicios__paneles {
        margin-top: 5rem;

        .paneles__text {
            width: 40rem;
            font-size: 1.8rem;
            margin-right: 6rem;
        }
    }

    .servicios__software {
        margin-top: 5rem;

        .software__text {
            width: 40rem;
            font-size: 1.8rem;
            margin-left: 6rem;

        }
    }

}

/* Caso de éxito - metodología MOBILE FIRST */
.logo--small {
    height: 7.5rem;
}
    .caso__img {
        display: none;
        height: 40rem;
        background-size: cover;
        background-image: url(../img/bg-office.jpg);
    }
.nav__caso {
    background-color: var(--primary-c);

    .caso__menu {
        width: 100%;

        a {
            color: #fff;
            font-size: 1.8rem;
            padding: 1rem;
            margin-right: 1.5rem;

            &:hover {
                background-color: #000;
            }
        }
    }
}

.main__caso {
    .caso__position__card {
        /* border: 1px solid black; */
    }

    .caso__descripcion {
        .caso__articulo__1 {}

        .caso__articulo__2 {
            margin-left: 5rem;
        }
    }

  
}
    .caso__position__description__img{
        display: flex;
        flex-direction: column;
    }

@media (min-width: 991px) {
    .caso__img {
        display: block;
    }

    .caso__position__description__img{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .card{
        width: 30rem;
    }
}