.main__index {

    .container__grid__img{
        height: 500px;
        margin: 2rem;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
            "img1 img1 img2 img8"
            "img1 img1 img3 img4";
        gap: 1rem;

        .img__grilla_1{
            background-image: url(../img/grilla/img-1.jpg);
            background-size: cover;
            grid-area: img1;
        }

        .img__grilla_2{
            background-image: url(../img/grilla/img-2.jpg);
            background-size: cover;
            grid-area: img2;
        }

        .img__grilla_3{
            background-image: url(../img/grilla/img-6.jpg);
            background-size: cover;
            grid-area: img3;
        }
        .img__grilla_4{
            background-image: url(../img/grilla/img-7.jpg);
            background-size: cover;
            grid-area: img4;
        }
        .img__grilla_8{
            background-image: url(../img/grilla/img-8.jpg);
            background-size: cover;
            grid-area: img8;
        }
    }
    @media(max-width: 811px) {

        .container-sm{
            max-width: 0;
        }
   
        .container__grid__img{
            grid-template-columns: repeat(2,1fr);
            // grid-template-rows: repeat(3,1fr);
            grid-template-areas: 
                "img1 img2"
                "img3 img4"
                "img5 img6";
            align-content: center;
        }
    }
    
    @media(max-width: 660px) {
    
        .container__grid__img{
            height: 216vh;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,1fr);
            grid-template-areas: 
                "img1"
                "img2"
                "img3"
                "img4";
        }
    }

    .marcas__index {
        .article__marcas {
            padding: 30px 60px 30px 60px;
            .marcas--small {
                width: 18rem;
            }
        }
    }
}



