:root {
    --primary-c: #0E71B8;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración para usar rem / 1rem == 10px */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}