.main__caso {

    .caso__descripcion {
        .caso__articulo__2 {
            margin-left: 5rem;
        }
    }
}

.caso__position__description__img {
    display: flex;
    flex-direction: column;
}

@media (min-width: 991px) {
    .caso__position__description__img{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    // .card{
    //     width: 30rem;
    // }

    .caso__position__description__img{
        display: flex;
        justify-content: space-between;
        padding-left: 15rem;
    }
    .caso__position__card{
        margin-right: 10rem;
    }
    .caso__img--big{
        width: 80.5rem;
    }

    .caso__info{
        display: flex;
        // border: 1px solid black;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;

        .text__caso{
            // border: 1px solid blue;
            width: 60rem;
            margin-left: 10rem;
        }
    }
}